Repository entro314-labs/Git-Herd: changes, and which pre-commit hooks are due for each by the changed paths.
All: go-fmt, go-imports, go-mod-tidy, go-generate, go-vet, go-test-short, go-build

go-fmt:
  name: go fmt
  entry: gofmt
  args:
  - -w
  language: system

go-imports:
  name: go imports
  entry: goimports
  args:
  - -w
  language: system
  require_serial: false

go-mod-tidy:
  name: go mod tidy
  entry: go
  args:
  - mod
  - tidy
  language: system
  pass_filenames: false

go-generate:
  name: go generate
  entry: go
  args:
  - generate
  - ./...
  language: system
  pass_filenames: false

go-vet:
  name: go vet
  entry: go
  args:
  - vet
  - ./...
  language: system
  pass_filenames: false

go-test-short:
  name: go test (short)
  entry: go
  args:
  - test
  - -short
  - ./...
  language: system
  pass_filenames: false

go-build:
  name: go build
  entry: go
  args:
  - build
  - -v
  - ./...
  language: system
  pass_filenames: false

Update Go version and dependencies
  README.md
  go.mod
  go.sum
Due: go-mod-tidy

fix: resolve data race conditions in parallel tests
  cmd/githerd/main_test.go
Due: go-fmt, go-imports, go-generate, go-vet, go-test-short, go-build

fix: resolve CI/CD pipeline configuration issues
  .github/workflows/ci.yml
  .github/workflows/release.yml
  .golangci.yml
  .goreleaser.yml
Due: none

Rename project from GitHerd to git-herd
  .github/workflows/ci.yml
  .github/workflows/release.yml
  .gitignore
  .golangci.yml
  .goreleaser.yml
  .pre-commit-config.yaml
  Dockerfile
  LICENSE
  README.md
  SECURITY.md
  cmd/git-herd/main.go
  cmd/git-herd/main_test.go
  config.yaml
  go.mod
  internal/config/config.go
  internal/config/config_test.go
  internal/git/operations.go
  internal/git/scanner.go
  internal/git/scanner_test.go
  internal/tui/model.go
  internal/tui/model_test.go
  internal/tui/report.go
  internal/tui/report_test.go
  internal/tui/view.go
  internal/tui/view_test.go
  internal/worker/manager.go
  internal/worker/manager_test.go
  makefile
Due: go-fmt, go-imports, go-mod-tidy, go-generate, go-vet, go-test-short, go-build

Refactor golangci-lint configuration for clarity
  .golangci.yml
Due: none

Update .golangci.yml
  .golangci.yml
Due: none

chore: hide email addresses in changelog format
  .goreleaser.yml
Due: none

chore: migrate GoReleaser config from brews to homebrew_casks
  .goreleaser.yml
Due: none

Update Go version to 1.25.3 and bump golang.org/x/exp
  .github/workflows/ci.yml
  .github/workflows/release.yml
  go.mod
  go.sum
Due: go-mod-tidy

Update golang.org/x/exp to latest version
  go.mod
  go.sum
Due: go-mod-tidy

Refactor CI/CD workflows and GoReleaser configuration
  .github/workflows/ci.yml
  .github/workflows/release.yml
  .goreleaser.yaml
  .goreleaser.yml
  .pre-commit-config.yaml
  Dockerfile.goreleaser
  cmd/git-herd/main.go
  go.mod
  go.sum
  internal/config/config.go
  internal/git/scanner.go
  internal/git/scanner_test.go
  internal/tui/model.go
  internal/tui/model_test.go
  internal/tui/report.go
  internal/worker/manager.go
Due: go-fmt, go-imports, go-mod-tidy, go-generate, go-vet, go-test-short, go-build

Update Go version to 1.25.5
  go.mod
Due: go-mod-tidy

Refactor build configuration and improve test error handling
  .github/workflows/ci.yml
  Dockerfile
  cmd/git-herd/main_test.go
  internal/config/config_test.go
  internal/tui/report_test.go
  pkg/types/types_test.go
Due: go-fmt, go-imports, go-generate, go-vet, go-test-short, go-build

Fix context variable shadowing and improve test cleanup error handling
  cmd/git-herd/main_test.go
  internal/tui/report_test.go
Due: go-fmt, go-imports, go-generate, go-vet, go-test-short, go-build

Enhance git-herd functionality with selective file discard and repository scanning features
  .pre-commit-config.yaml
  README.md
  go.mod
  go.sum
  internal/config/config.go
  internal/config/config_test.go
  internal/git/operations.go
  internal/tui/model.go
  internal/tui/report.go
  internal/worker/manager.go
  pkg/types/types.go
Due: go-fmt, go-imports, go-mod-tidy, go-generate, go-vet, go-test-short, go-build

(chore) minor update to ci
  .github/workflows/release.yml
  .goreleaser.yaml
Due: none

Fix Docker image references in GoReleaser configuration
  .goreleaser.yaml
Due: none

Fix Docker image references to use the correct repository owner
  .goreleaser.yaml
Due: none

feat: remove legacy config file and introduce new configuration structure
  .gitignore
  README.md
  cmd/git-herd/main.go
  cmd/git-herd/main_test.go
  git-herd.yaml
  go.mod
  go.sum
  internal/config/config.go
  internal/config/config_test.go
  internal/tui/report_test.go
  internal/tui/view_test.go
  internal/worker/manager.go
Due: go-fmt, go-imports, go-mod-tidy, go-generate, go-vet, go-test-short, go-build

chore: update Go module dependencies to latest versions
  go.mod
  go.sum
Due: go-mod-tidy

feat(config): enhance config validation for discard files patterns
  cmd/git-herd/main.go
  cmd/git-herd/main_test.go
  go.mod
  go.sum
  internal/config/config.go
  internal/config/config_test.go
  internal/git/operations.go
  internal/git/scanner.go
  internal/tui/model.go
  internal/tui/model_test.go
  internal/tui/report.go
  internal/tui/report_test.go
  internal/tui/view.go
  internal/tui/view_test.go
  internal/worker/manager.go
  pkg/types/types.go
  pkg/types/types_test.go
Due: go-fmt, go-imports, go-mod-tidy, go-generate, go-vet, go-test-short, go-build

Refactor and enhance error handling in various components
  go.mod
  go.sum
  internal/config/config_test.go
  internal/git/operations.go
  internal/git/scanner.go
  internal/tui/model.go
  internal/tui/model_test.go
  internal/tui/report_test.go
  internal/tui/view.go
  internal/tui/view_test.go
  internal/worker/manager.go
Due: go-fmt, go-imports, go-mod-tidy, go-generate, go-vet, go-test-short, go-build

chore: update GitHub Actions workflows and dependencies
  .github/workflows/ci.yml
  .github/workflows/release.yml
  .pre-commit-config.yaml
  Dockerfile
  go.mod
  go.sum
  internal/config/config.go
  internal/config/config_test.go
  internal/git/operations.go
Due: go-fmt, go-imports, go-mod-tidy, go-generate, go-vet, go-test-short, go-build

chore: update Go version to 1.26 in CI and release workflows
  .github/workflows/ci.yml
  .github/workflows/release.yml
Due: none

chore: update golangci-lint version to v2.11.3 in CI workflow
  .github/workflows/ci.yml
Due: none

refactor: use fmt.Fprintf for string formatting in view and defer closing of resources
  cmd/git-herd/main.go
  internal/git/scanner.go
  internal/tui/view.go
Due: go-fmt, go-imports, go-generate, go-vet, go-test-short, go-build

refactor: replace fmt.Sprintf with fmt.Fprintf for improved performance in view rendering
  internal/tui/view.go
Due: go-fmt, go-imports, go-generate, go-vet, go-test-short, go-build

fix(ci): correct go install path for release verification
  .github/workflows/release.yml
Due: none

refactor: enhance CI and release workflows with improved environment variables and artifact handling
  .github/workflows/ci.yml
  .github/workflows/release.yml
  .goreleaser.yaml
  makefile
Due: none

Refactor timeout handling and update dependencies
  .github/workflows/ci.yml
  .github/workflows/release.yml
  .goreleaser.yaml
  Dockerfile.goreleaser
  README.md
  cmd/git-herd/main.go
  git-herd.yaml
  go.mod
  go.sum
  internal/config/config.go
  internal/git/operations.go
  internal/git/operations_test.go
  internal/tui/model.go
  internal/tui/model_test.go
Due: go-fmt, go-imports, go-mod-tidy, go-generate, go-vet, go-test-short, go-build

fix: remove unused dependency references from go.mod and go.sum
  go.mod
  go.sum
Due: go-mod-tidy

chore: update dependencies and improve configuration documentation
  .pre-commit-config.yaml
  Dockerfile
  README.md
  git-herd.yaml
  go.mod
  go.sum
  internal/config/config.go
  internal/config/config_test.go
  internal/git/operations.go
  internal/git/operations_test.go
  internal/git/scanner.go
  internal/git/scanner_test.go
  internal/tui/view.go
  internal/worker/manager.go
  internal/worker/manager_test.go
Due: go-fmt, go-imports, go-mod-tidy, go-generate, go-vet, go-test-short, go-build

chore: update dependencies and GitHub Actions workflows
  .gitattributes
  .github/workflows/ci.yml
  .github/workflows/release.yml
  .gitignore
  .golangci.yml
  .goreleaser.yaml
  .pre-commit-config.yaml
  .yamllint.yaml
  Dockerfile
  Dockerfile.goreleaser
  LICENSE
  README.md
  SECURITY.md
  cmd/git-herd/main.go
  cmd/git-herd/main_test.go
  git-herd.yaml
  go.mod
  go.sum
  internal/config/config.go
  internal/config/config_test.go
  internal/git/operations.go
  internal/git/operations_test.go
  internal/git/scanner.go
  internal/git/scanner_test.go
  internal/tui/model.go
  internal/tui/model_test.go
  internal/tui/report.go
  internal/tui/report_test.go
  internal/tui/view.go
  internal/tui/view_test.go
  internal/worker/manager.go
  internal/worker/manager_test.go
  makefile
  pkg/types/types.go
  pkg/types/types_test.go
Due: go-fmt, go-imports, go-mod-tidy, go-generate, go-vet, go-test-short, go-build

chore: update dependencies and GitHub Actions workflows
  .github/workflows/ci.yml
  .github/workflows/release.yml
  .pre-commit-config.yaml
  go.mod
  go.sum
Due: go-mod-tidy

chore: update Go version to 1.26.5 and add submodule handling features
  .github/workflows/ci.yml
  .github/workflows/release.yml
  Dockerfile
  README.md
  git-herd.yaml
  internal/config/config.go
  internal/git/operations.go
  internal/git/operations_test.go
  internal/git/scanner.go
  internal/git/scanner_test.go
  pkg/types/types.go
Due: go-fmt, go-imports, go-generate, go-vet, go-test-short, go-build

Path conditions:
  go-fmt: any of: \.go$
  go-imports: any of: \.go$
  go-mod-tidy: any of: go\.(mod|sum)$
  go-generate: any of: \.go$
  go-vet: any of: \.go$
  go-test-short: any of: \.go$
  go-build: any of: \.go$
